.Logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 182px;
  height: 27px;

  &-small {
    width: 91px;
    height: 13px;
  }

  &-large {
    width: 364px;
    height: 54px;
  }
}
