.Logo {
  display: inline-flex;
  outline: transparent;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    outline: var(--border-focus) solid var(--color-focus);
    border-radius: var(--border-radius-normal);
  }
  &:active:focus-visible {
    outline: none;
  }

  &_svg {
    &-small {
      width: 91px;
      height: 13px;
    }

    &-header {
      width: 168px;
      height: 29px;
    }

    &-large {
      width: 364px;
      height: 54px;
    }
  }
}
