---
layout: Layouts/responsive.njk
title: Two Leaf 
permalink: profile.html
showBreadcrumbs: true
breadcrumbs:
    - Label: Profil
---

{%- from '../../_includes/components/Atoms/Button/Button.njk' import Button %}
{%- from '../../_includes/components/Atoms/Paragraph/Paragraph.njk' import Paragraph %}

<div class="profile">
  <div class="profile_content">
    {{ Button (fullWidth = true, href = '/profile-login', Label = 'Einloggen') }}
    {{ Paragraph(Content = 'Noch kein Konto?', Weight = 'medium') }}
    {{ Button ( fullWidth = true, href = '/profile-register', Label = ' Registrieren', Outline = true, Style = 'tertiary') }}
  </div>
</div>