{% macro Image(src, alt, size, fit, loadinglazy) %}
    <img src="{{ src }}" alt="{{ alt }}" class="Image Image-{{ size }} Image-{{ fit }}" {% if loadinglazy %}loading="lazy"{% endif %}/>
{% endmacro %}