.Image {
  border-radius: var(--border-radius-normal);

  &-FullScreen {
    aspect-ratio: 9 / 16;
  }

  &-FullScreenPadding {
    aspect-ratio: 9 / 16;
    padding: 0 var(--spacing-16);
  }

  &-Portrait {
    aspect-ratio: 5 / 6;
  }

  &-ProductCard {
    aspect-ratio: 5 / 4;
  }

  &-ProductPicture {
    aspect-ratio: 1 / 1;
  }

  &-contain {
    object-fit: contain;
  }

  &-cover {
    object-fit: cover;
    object-position: center;
  }

  &-fill {
    object-fit: fill;
  }
}
