.ImageContainer {
  position: relative;
  margin: 0px;
}

.Image {
  border-radius: var(--border-radius-normal);

  &_Label {
    position: absolute;
    bottom: var(--space-16);
    left: var(--space-16);
    color: var(--color-white);
  }

  &-FullScreen {
    aspect-ratio: 9 / 16;
  }

  &-FullScreenPadding {
    aspect-ratio: 9 / 16;
    padding: 0 var(--spacing-16);
  }

  &-Portrait {
    aspect-ratio: 5 / 6;
  }

  &-ProductCard {
    aspect-ratio: 82 / 45;
  }

  &-GalleryImage {
    aspect-ratio: 1 / 1;
  }

  &-GalleryImage-vertical {
    aspect-ratio: 39 / 82;
  }

  &-GalleryImage-horizontal {
    aspect-ratio: 82 / 39;
  }

  &-contain {
    object-fit: contain;
  }

  &-cover {
    object-fit: cover;
    object-position: center;
  }

  &-fill {
    object-fit: fill;
  }
}
