.UtilityLink {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  align-self: flex-start;
  gap: var(--space-4);

  &:focus-visible {
    outline: var(--border-focus) solid var(--color-focus);
    border-radius: var(--border-radius-normal);
    outline-offset: -3px;
    z-index: 1000;
  }

  &:active:focus-visible {
    outline: none;
  }

  &-primary {
    color: var(--color-matcha-default);

    &:hover {
      color: var(--color-matcha-hover);
      text-decoration: underline;
    }

    &:active {
      color: var(--color-matcha-pressed);
      text-decoration: underline;
    }
  }

  &-secondary {
    color: var(--color-copper-default);

    &:hover {
      color: var(--color-copper-hover);
      text-decoration: underline;
    }

    &:active {
      color: var(--color-copper-pressed);
      text-decoration: underline;
    }
  }

  &-tertiary {
    color: var(--color-ash-default);

    &:hover {
      color: var(--color-ash-hover);
      text-decoration: underline;
    }

    &:active {
      color: var(--color-ash-pressed);
      text-decoration: underline;
    }
  }

  &_label {
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: center;
  }
}

.InlineLink {
  display: inline;
  text-decoration: none;

  &:focus-visible {
    outline: var(--border-focus) solid var(--color-focus);
    border-radius: var(--border-radius-normal);
  }
  &:active:focus-visible {
    outline: none;
  }

  &-primary {
    color: var(--color-matcha-default);

    &:hover {
      color: var(--color-matcha-hover);
      text-decoration: underline;
    }

    &:active {
      color: var(--color-matcha-pressed);
      text-decoration: underline;
    }
  }

  &-secondary {
    color: var(--color-copper-default);

    &:hover {
      color: var(--color-copper-hover);
      text-decoration: underline;
    }

    &:active {
      color: var(--color-copper-pressed);
      text-decoration: underline;
    }
  }

  &-tertiary {
    color: var(--color-ash-default);
    text-decoration: underline;

    &:hover {
      color: var(--color-ash-hover);
      text-decoration: underline;
    }

    &:active {
      color: var(--color-ash-pressed);
      text-decoration: underline;
    }
  }
}
