{%- from "../Icon/Icon.njk"import IconEmbedded -%}

{% macro UtilityLink(Label = 'Link Label', Style = 'secondary', Size = '-sizeS', Weight = 'medium', showIconLeft = false, IconContentLeft = null, showIconRight = true, IconContentRight = 'Chevron-right', href = "#") %}

    <a href="{{ href }}" class="UtilityLink UtilityLink-{{ Style }} {{ Size }} {{ Weight }}" >

        {% if showIconLeft %}
            {{ IconEmbedded(IconContentLeft)}}
        {% endif %}

        <span class="UtilityLink_label">{{ Label }}</span>

        {% if showIconRight %}
            {{ IconEmbedded(IconContentRight)}}
        {% endif %}

    </a>
{% endmacro %}

{% macro InlineLink(Label = 'Link Label', Style = 'secondary', Size = '-sizeS', Weight = 'medium', href = "#") %}
    <a href="{{ href }}" class="InlineLink InlineLink-{{ Style }} {{ Size }} {{ Weight }}" >
        {{ Label }}
    </a>
{% endmacro %}