.ImageContainer {
  position: relative;
  margin: 0px;
  width: 100%;
}

.Image {
  width: 100%;
  height: auto;
  display: block;

  &_Label {
    position: absolute;
    bottom: var(--space-16);
    left: var(--space-16);
    color: var(--color-white);
  }

  &-FullScreen {
    aspect-ratio: 9 / 16;
  }

  &-FullScreenPadding {
    aspect-ratio: 9 / 16;
    padding: 0 var(--spacing-16);
  }

  &-Portrait {
    aspect-ratio: 5 / 6;
  }

  &-ProductCard {
    aspect-ratio: 82 / 45;
  }

  &-GalleryImage {
    aspect-ratio: 1 / 1;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      pointer-events: none;

      background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0) 60%);
    }
  }

  &-GalleryImage-vertical {
    aspect-ratio: 39 / 82;
  }

  &-GalleryImage-horizontal {
    aspect-ratio: 82 / 39;
  }

  &-contain {
    object-fit: contain;
  }

  &-cover {
    object-fit: cover;
    object-position: center;
  }

  &-fill {
    object-fit: fill;
  }

  &-borderRadius {
    border-radius: var(--border-radius-normal);
  }

  &-Zoom {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.15);
    }
  }
}
