.StaticBanner {
  display: flex;
  position: relative;
  width: 100vw;
  height: calc(100vh - 168px);

  &-maxwidth {
    width: auto;
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &_Image {
    width: 100%;
    height: auto;
    display: block;
  }

  &_ContentWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 50px var(--space-16);
    width: 100%;
    height: 100%;
    pointer-events: none;

    &-center {
      justify-content: center;
    }

    &-top {
      justify-content: flex-start;
    }

    &-bottom {
      justify-content: flex-end;
    }
  }

  &_Content {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    text-align: center;
    gap: var(--space-16);
    pointer-events: none;
  }

  &_ButtonContainer {
    display: flex;
  }
}
