.Icon {
  display: flex;

  &-white {
    color: var(--color-white);
  }

  &-small {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &-regular {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &-large {
    svg {
      width: 30px;
      height: 30px;
    }
  }

  &-extra-large {
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
