.Icon {
  display: flex;

  &_Link {
    color: inherit;
    text-decoration: none;

    &:focus-visible {
      outline: var(--border-focus) solid var(--color-focus);
      border-radius: var(--border-radius-normal);
      outline-offset: -3px;
      z-index: 1000;
    }

    &:active:focus-visible {
      outline: none;
    }
  }

  &-white {
    color: var(--color-white);
  }

  &-small {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &-regular {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &-large {
    svg {
      width: 30px;
      height: 30px;
    }
  }

  &-extra-large {
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
