.cart {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  &_price {
    display: flex;
    justify-content: space-between;
    padding: 0px var(--space-2);
    max-width: 800px;
  }

  &_item-count {
    color: var(--color-grey-hover);
  }

  &-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 303px);
    flex-direction: column;
    color: var(--color-grey-hover);
  }
}

.cart-checkout {
  display: flex;
  justify-content: center;

  &_content {
    display: flex;
    width: 328px;
    flex-direction: column;
    gap: var(--space-16);
  }

  &_block {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
    gap: var(--space-8);

    &-inner {
      display: flex;
      gap: var(--space-8);
    }
  }

  &_contact {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  &_rabatt {
    display: flex;
    gap: var(--space-8);

    &-field {
      flex: 2;
    }

    &-button {
      flex: 1;
    }
  }

  &-background {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: var(--space-8);
    padding: var(--space-16);

    background-color: var(--color-grey-light);
    border: var(--border-normal) solid var(--color-grey-hover);
    border-radius: var(--border-radius-normal);
  }

  &_fineprint {
    display: flex;
    text-align: left;
    gap: var(--space-16);
    flex-direction: column;
    color: var(--color-grey-hover);
  }

  &_end {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-copper-default);
    padding: var(--space-16) 0;
  }
}

.cart-orderd {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 208px);
  overflow-y: auto;

  &_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: var(--space-8);
    gap: var(--space-8);
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-20);
  }

  &_table {
    display: flex;
    flex-direction: column;
  }
}
