.cart {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  &_price {
    display: flex;
    justify-content: space-between;
  }

  &_item-count {
    color: var(--color-grey-hover);
  }

  &-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 300px);
    flex-direction: column;
    color: var(--color-grey-hover);
  }
}
