.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  // @media (min-width: 768px) {
  //   max-width: 700px;
  //   margin: 0 auto;
  // }
}

.home-flexbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: var(--space-8);
  padding: var(--space-32) var(--space-16);
}
