{%- from "../../Atoms/Icon/Icon.njk" import IconEmbedded %}

{% macro AppNav(TargetHome, TargetSearch, TargetCart, TargetProfile) %}
    <div class="AppNav">
        <div class="AppNav_Container">
            <a href="{{ TargetHome }}" class="AppNav_Button">
                <span class="AppNav_Icon">{{ IconEmbedded('Home', 'large', 'white') }}</span>
                <span class="AppNav_IconClicked">{{ IconEmbedded('Home-filled', 'large', 'white') }}</span>
            </a>
            <a href="{{ TargetSearch }}" class="AppNav_Button">
                <span class="AppNav_Icon">{{ IconEmbedded('Search', 'large', 'white') }}</span>
                <span class="AppNav_IconClicked">{{ IconEmbedded('Search-filled', 'large', 'white') }}</span>
            </a>
            <a href="{{ TargetCart }}" class="AppNav_Button">
                <span class="AppNav_Icon">{{ IconEmbedded('Cart', 'large', 'white') }}</span>
                <span class="AppNav_IconClicked">{{ IconEmbedded('Cart-filled', 'large', 'white') }}</span>
            </a>
            <a href="{{ TargetProfile }}" class="AppNav_Button">
                <span class="AppNav_Icon">{{ IconEmbedded('Profile', 'large', 'white') }}</span>
                <span class="AppNav_IconClicked">{{ IconEmbedded('Profile-filled', 'large', 'white') }}</span>
            </a>
        </div>
    </div>
{% endmacro %}