{%- from "../../Atoms/Button/Button.njk" import Button %}
{%- from "../../Atoms/Icon/Icon.njk" import IconEmbedded %}

{% macro DownloadField(Title, Details, Link) %}
    <div class="Downloadfield">
        <div class="Downloadfield_Container">
            {{ IconEmbedded('FileDownload') }}
            <div class="Downloadfield_ContentContainer">
                <span class="medium">{{ Title }}</span>
                <span class="-sizeXS">{{ Details }}</span>
            </div>
        </div>
        {{ Button(Label ='Download', Size ='small', Style ='secondary', href = Link, download = true) }}
    </div>
{% endmacro %}