---
layout: Layouts/responsive.njk
title: Two Leaf 
permalink: shop.html
showBreadcrumbs: true
breadcrumbs:
    - Label: Shop
---

{%- from '../../_includes/components/Atoms/Button/Button.njk' import Button %}
{%- from '../../_includes/components/Atoms/Searchbar/Searchbar.njk' import Searchbar %}
{%- from '../../_includes/components/Organisms/Gallery/Gallery.njk' import GalleryGrid %}

<div class="shop">
    {{ Searchbar() }}
    {{ Button(fullWidth = true, Label = 'FILTER', showIconRight = true, IconContentRight = 'Filter', href = '/shop-filter', disabled = false) }}
    {{ GalleryGrid(items = [
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"},
    {src: "./assets/img/GalleryItem1zu1.jpg", label: "Label", target: "/shop-pdp"}
]) }}
</div>