.StaticBanner {
  display: flex;
  position: relative;

  &_Image {
    width: 100%;
    height: auto;
  }

  &_ContentWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 50px var(--space-16);
    width: 100%;
    height: 100%;

    &-center {
      justify-content: center;
    }

    &-top {
      justify-content: flex-start;
    }

    &-bottom {
      justify-content: flex-end;
    }
  }

  &_Content {
    display: flex;
    flex-direction: column;
    // padding: 50px var(--space-16);
    color: var(--color-white);
    text-align: center;
    gap: var(--space-16);
  }

  &_ButtonContainer {
    display: flex;
  }
}
