---
layout: Layouts/componentlayout.njk
title: Two Leaf 
permalink: /overview/components/breadcrumbpage.html
showBreadcrumbs: true
breadcrumbs:
    - Label: Overview
      Target: /overview
    - Label: Breadcrumb
---

{%- from "../../../_includes/components/Atoms/Heading/Heading.njk" import Heading %}
{%- from "../../../_includes/components/Molecules/Breadcrumb/Breadcrumb.njk" import Breadcrumb %}

{{ Heading( Tag = "h1", Content = "Breadcrumb", Weight="medium", Size = "-sizeL") }}
{{ Breadcrumb( Items = [ {Label: "Home", Target: "#"}, {Label: "Overview", Target: "#"}, {Label: "Breadcrumb", Target: "#"}]) }}