---
layout: Layouts/componentlayout.njk
title: Two Leaf 
permalink: /overview/components/dropdownpage.html
showBreadcrumbs: true
breadcrumbs:
    - Label: Overview
      Target: /overview
    - Label: Dropdown
---

{%- from "../../../_includes/components/Atoms/Heading/Heading.njk" import Heading %}
{%- from "../../../_includes/components/Atoms/Dropdown/Dropdown.njk" import Dropdown %}

{{ Heading( Tag = "h1", Content = "Dropdown", Weight="medium", Size = "-sizeL") }}
{{ Dropdown ('Optionen', 'Länderwahl',{ DropdownItems: [
        { value: 'option1', label: 'Option1 ' },
        { value: 'option2', label: 'Option2' },
        { value: 'option3', label: 'Option3' },
        { value: 'option4', label: 'Option4' },
        { value: 'option5', label: 'Option5' },
        { value: 'option6', label: 'Option6' }
    ]}) }}