---
layout: Layouts/componentlayout.njk
title: Two Leaf 
permalink: /overview/components/groupspage.html
showBreadcrumbs: true
breadcrumbs:
    - Label: Overview
      Target: /overview
    - Label: Groups
---

{%- from "../../../_includes/components/Atoms/Heading/Heading.njk" import Heading %}
{%- from "../../../_includes/components/Atoms/Button/Button.njk" import Button %}
{%- from "../../../_includes/components/Atoms/Chip/Chip.njk" import Chip %}
{%- from "../../../_includes/components/Atoms/Link/Link.njk" import UtilityLink %}
{%- from "../../../_includes/components/Atoms/Icon/Icon.njk" import IconEmbedded %}
{%- from "../../../_includes/components/Molecules/ButtonGroup/ButtonGroup.njk" import ButtonGroup %}

{{ Heading( Tag = "h1", Content = "Button Group", Weight="medium", Size = "-sizeL") }}
{% call ButtonGroup() %}
{{ Button(Label = "Button one", Style ="primary") }}
{{ Button(Label = "Button two") }}
{{ Button(Label = "Button three", Style ="tertiary") }}
{% endcall %}
{{ Heading( Tag = "h1", Content = "Chip Group", Weight="medium", Size = "-sizeL") }}
{% call ButtonGroup() %}
{{ Chip(Label = "Chip one", Style ="primary") }}
{{ Chip(Label = "Chip two") }}
{{ Chip(Label = "Chip three", Style ="tertiary") }}
{% endcall %}
{{ Heading( Tag = "h1", Content = "Link Group", Weight="medium", Size = "-sizeL") }}
{% call ButtonGroup() %}
{{ UtilityLink(Label = "Link one", Style ="primary") }}
{{ UtilityLink(Label = "Link two") }}
{{ UtilityLink(Label = "Link three", Style ="tertiary") }}
{% endcall %}
{{ Heading( Tag = "h1", Content = "Icon Group", Weight="medium", Size = "-sizeL") }}
{% call ButtonGroup() %}
{{ IconEmbedded(Icon = "Instagram") }}
{{ IconEmbedded(Icon = "Facebook") }}
{{ IconEmbedded(Icon = "Reddit") }}
{{ IconEmbedded(Icon = "Twitch") }}
{{ IconEmbedded(Icon = "Youtube") }}
{% endcall %}