---
layout: Layouts/overviewlayout.njk
title: Two Leaf 
permalink: /overview/components/headingpage.html
showBreadcrumbs: true
breadcrumbs:
    - Label: Overview
      Target: /overview/
    - Label: Heading
---

{%- from "../../../_includes/components/Atoms/Heading/Heading.njk" import Heading %}

{{ Heading( Tag = "h1", Content = "Heading - light", Weight="medium", Size = "-sizeL") }}
<br>
{{ Heading( Tag = "h1", Content = "Heading", Weight="light", Size = "-sizeXXL") }}
{{ Heading( Tag = "h2", Content = "Heading", Weight="light", Size = "-sizeXL") }}
{{ Heading( Tag = "h3", Content = "Heading", Weight="light", Size = "-sizeL") }}
{{ Heading( Tag = "h4", Content = "Heading", Weight="light", Size = "-sizeM") }}
{{ Heading( Tag = "h5", Content = "Heading", Weight="light", Size = "-sizeS") }}
{{ Heading( Tag = "h6", Content = "Heading", Weight="light", Size = "-sizeXS") }}
<br>
{{ Heading( Tag = "h1", Content = "Heading - regular", Weight="medium", Size = "-sizeL") }}
<br>
{{ Heading( Tag = "h1", Content = "Heading", Weight="regular", Size = "-sizeXXL") }}
{{ Heading( Tag = "h2", Content = "Heading", Weight="regular", Size = "-sizeXL") }}
{{ Heading( Tag = "h3", Content = "Heading", Weight="regular", Size = "-sizeL") }}
{{ Heading( Tag = "h4", Content = "Heading", Weight="regular", Size = "-sizeM") }}
{{ Heading( Tag = "h5", Content = "Heading", Weight="regular", Size = "-sizeS") }}
{{ Heading( Tag = "h6", Content = "Heading", Weight="regular", Size = "-sizeXS") }}
<br>
{{ Heading( Tag = "h1", Content = "Heading - medium", Weight="medium", Size = "-sizeL") }}
<br>
{{ Heading( Tag = "h1", Content = "Heading", Weight="medium", Size = "-sizeXXL") }}
{{ Heading( Tag = "h2", Content = "Heading", Weight="medium", Size = "-sizeXL") }}
{{ Heading( Tag = "h3", Content = "Heading", Weight="medium", Size = "-sizeL") }}
{{ Heading( Tag = "h4", Content = "Heading", Weight="medium", Size = "-sizeM") }}
{{ Heading( Tag = "h5", Content = "Heading", Weight="medium", Size = "-sizeS") }}
{{ Heading( Tag = "h6", Content = "Heading", Weight="medium", Size = "-sizeXS") }}
<br>
{{ Heading( Tag = "h1", Content = "Heading - bold", Weight="medium", Size = "-sizeL") }}
<br>
{{ Heading( Tag = "h1", Content = "Heading", Weight="bold", Size = "-sizeXXL") }}
{{ Heading( Tag = "h2", Content = "Heading", Weight="bold", Size = "-sizeXL") }}
{{ Heading( Tag = "h3", Content = "Heading", Weight="bold", Size = "-sizeL") }}
{{ Heading( Tag = "h4", Content = "Heading", Weight="bold", Size = "-sizeM") }}
{{ Heading( Tag = "h5", Content = "Heading", Weight="bold", Size = "-sizeS") }}
{{ Heading( Tag = "h6", Content = "Heading", Weight="bold", Size = "-sizeXS") }}