---
layout: Layouts/componentlayout.njk
title: Two Leaf 
permalink: /overview/components/linkpage.html
showBreadcrumbs: true
breadcrumbs:
    - Label: Overview
      Target: /overview
    - Label: Link
---

{%- from "../../../_includes/components/Atoms/Heading/Heading.njk" import Heading %}
{%- from "../../../_includes/components/Atoms/Link/Link.njk" import UtilityLink, InlineLink %}
{%- from "../../../_includes/components/Molecules/LinkGroup/LinkGroup.njk" import LinkGroup %}

{{ Heading( Tag = "h1", Content = "Link primary", Weight="medium", Size = "-sizeL") }}
<div class="Overview_ContentWrapper">
    {{ UtilityLink (Style = "primary",Size = "-sizeXS", showIconRight = false) }}
    {{ UtilityLink (Style = "primary",Size = "-sizeS", showIconRight = false) }}
    {{ UtilityLink (Style = "primary",Size = "-sizeM", showIconRight = false) }}
    {{ UtilityLink (Style = "primary",Size = "-sizeL", showIconRight = false) }}
    {{ UtilityLink (Style = "primary",Size = "-sizeXL", showIconRight = false) }}
    {{ UtilityLink (Style = "primary",Size = "-sizeXXL", showIconRight = false) }}
</div>
{{ Heading( Tag = "h1", Content = "Link secondary", Weight="medium", Size = "-sizeL") }}
<div class="Overview_ContentWrapper">
    {{ UtilityLink (Style = "secondary",Size = "-sizeXS", showIconRight = false) }}
    {{ UtilityLink (Style = "secondary",Size = "-sizeS", showIconRight = false) }}
    {{ UtilityLink (Style = "secondary",Size = "-sizeM", showIconRight = false) }}
    {{ UtilityLink (Style = "secondary",Size = "-sizeL", showIconRight = false) }}
    {{ UtilityLink (Style = "secondary",Size = "-sizeXL", showIconRight = false) }}
    {{ UtilityLink (Style = "secondary",Size = "-sizeXXL", showIconRight = false) }}
</div>
{{ Heading( Tag = "h1", Content = "Link secondary", Weight="medium", Size = "-sizeL") }}
<div class="Overview_ContentWrapper">
    {{ UtilityLink (Style = "tertiary",Size = "-sizeXS", showIconRight = false) }}
    {{ UtilityLink (Style = "tertiary",Size = "-sizeS", showIconRight = false) }}
    {{ UtilityLink (Style = "tertiary",Size = "-sizeM", showIconRight = false) }}
    {{ UtilityLink (Style = "tertiary",Size = "-sizeL", showIconRight = false) }}
    {{ UtilityLink (Style = "tertiary",Size = "-sizeXL", showIconRight = false) }}
    {{ UtilityLink (Style = "tertiary",Size = "-sizeXXL", showIconRight = false) }}
</div>
{{ Heading( Tag = "h1", Content = "Arrow Link", Weight="medium", Size = "-sizeL") }}
<div class="Overview_ContentWrapper">
    {{ UtilityLink (Style = "primary") }}
    {{ UtilityLink (Style = "secondary") }}
    {{ UtilityLink (Style = "tertiary") }}
</div>
{{ Heading( Tag = "h1", Content = "External Link", Weight="medium", Size = "-sizeL") }}
<div class="Overview_ContentWrapper">
    {{ UtilityLink (Style = "primary", IconContentRight = "ExternalLink") }}
    {{ UtilityLink (Style = "secondary", IconContentRight = "ExternalLink") }}
    {{ UtilityLink (Style = "tertiary", IconContentRight = "ExternalLink") }}
</div>
{{ Heading( Tag = "h1", Content = "Icon Link", Weight="medium", Size = "-sizeL") }}
<div class="Overview_ContentWrapper">
    {{ UtilityLink (Style = "primary", showIconRight = false, showIconLeft = true, IconContentLeft = "Home") }}
    {{ UtilityLink (Style = "secondary", showIconRight = false, showIconLeft = true, IconContentLeft = "Home") }}
    {{ UtilityLink (Style = "tertiary", showIconRight = false, showIconLeft = true, IconContentLeft = "Home") }}
    {{ UtilityLink (Style = "primary", showIconRight = true, showIconLeft = false, IconContentRight = "Home") }}
    {{ UtilityLink (Style = "secondary", showIconRight = true, showIconLeft = false, IconContentRight = "Home") }}
    {{ UtilityLink (Style = "tertiary", showIconRight = true, showIconLeft = false, IconContentRight = "Home") }}
    {{ UtilityLink (Style = "primary", showIconRight = true, showIconLeft = true, IconContentLeft = "Home", IconContentRight = "Home") }}
    {{ UtilityLink (Style = "secondary", showIconRight = true, showIconLeft = true, IconContentLeft = "Home", IconContentRight = "Home") }}
    {{ UtilityLink (Style = "tertiary", showIconRight = true, showIconLeft = true, IconContentLeft = "Home", IconContentRight = "Home") }}
</div>
{{ Heading( Tag = "h1", Content = "Inline Link", Weight="medium", Size = "-sizeL") }}
<div class="Overview_ContentWrapper">
    {{ InlineLink (Style = "primary",Size = "-sizeXS") }}
    {{ InlineLink (Style = "primary",Size = "-sizeS") }}
    {{ InlineLink (Style = "primary",Size = "-sizeM") }}
    {{ InlineLink (Style = "primary",Size = "-sizeL") }}
    {{ InlineLink (Style = "primary",Size = "-sizeXL") }}
    {{ InlineLink (Style = "primary",Size = "-sizeXXL") }}
    {{ InlineLink (Style = "secondary",Size = "-sizeXS") }}
    {{ InlineLink (Style = "secondary",Size = "-sizeS") }}
    {{ InlineLink (Style = "secondary",Size = "-sizeM") }}
    {{ InlineLink (Style = "secondary",Size = "-sizeL") }}
    {{ InlineLink (Style = "secondary",Size = "-sizeXL") }}
    {{ InlineLink (Style = "secondary",Size = "-sizeXXL") }}
    {{ InlineLink (Style = "tertiary",Size = "-sizeXS") }}
    {{ InlineLink (Style = "tertiary",Size = "-sizeS") }}
    {{ InlineLink (Style = "tertiary",Size = "-sizeM") }}
    {{ InlineLink (Style = "tertiary",Size = "-sizeL") }}
    {{ InlineLink (Style = "tertiary",Size = "-sizeXL") }}
    {{ InlineLink (Style = "tertiary",Size = "-sizeXXL") }}
</div>