---
layout: Layouts/overviewlayout.njk
title: Two Leaf 
permalink: /overview/components/listpage.html
showBreadcrumbs: true
breadcrumbs:
    - Label: Overview
      Target: /overview/
    - Label: List
---

{%- from "../../../_includes/components/Atoms/Heading/Heading.njk" import Heading %}
{%- from "../../../_includes/components/Molecules/List/List.njk" import List %}

{{ Heading( Tag = "h1", Content = "Orderd List", Weight="medium", Size = "-sizeL") }}
{{ List( ListType = "ol", Items = [ "Label one", "Label two", "Label three", "Label four" ] ) }}

{{ Heading( Tag = "h1", Content = "Unordered List", Weight="medium", Size = "-sizeL") }}
{{ List( ListType = "ul", Items = [ "Label one", "Label two", "Label three", "Label four" ] ) }}

{{ Heading( Tag = "h1", Content = "Checklist", Weight="medium", Size = "-sizeL") }}
{{ List( ListType = "ul", CheckList = true, Items = [ "Label one", "Label two", "Label three", "Label four" ] ) }}

{{ Heading( Tag = "h1", Content = "Checkbox List", Weight="medium", Size = "-sizeL") }}
{{ List( ListType = "ul", CheckboxList = true, Items = [ "Label one", "Label two", "Label three", "Label four" ] ) }}