---
layout: Layouts/componentlayout.njk
title: Two Leaf 
permalink: /overview/components/ratingpage.html
showBreadcrumbs: true
breadcrumbs:
    - Label: Overview
      Target: /overview
    - Label: Rating
---

{%- from "../../../_includes/components/Atoms/Heading/Heading.njk" import Heading %}
{%- from "../../../_includes/components/Molecules/Rating/Rating.njk" import UneditableRating %}

{{ Heading( Tag = "h1", Content = "Rating", Weight="medium", Size = "-sizeL") }}
{{ UneditableRating ( FilledStars = "0") }}
{{ UneditableRating ( FilledStars = "1") }}
{{ UneditableRating ( FilledStars = "2") }}
{{ UneditableRating ( FilledStars = "3") }}
{{ UneditableRating ( FilledStars = "4") }}
{{ Heading( Tag = "h1", Content = "Rating with Label", Weight="medium", Size = "-sizeL") }}
{{ UneditableRating (Label = "Label", FilledStars = "5") }}