---
layout: Layouts/overviewlayout.njk
title: Two Leaf 
permalink: /overview/components/staticbannerpage.html
showBreadcrumbs: true
breadcrumbs:
    - Label: Overview
      Target: /overview/
    - Label: Static Banner
---

{%- from "../../../_includes/components/Atoms/Heading/Heading.njk" import Heading %}
{%- from "../../../_includes/components/Molecules/StaticBanner/StaticBanner.njk" import StaticBanner %}

{{ Heading( Tag = "h1", Content = "Static Banner", Weight="medium", Size = "-sizeL") }}
{{ StaticBanner ( MaxWidth = true, BannerImage = '/assets/img/SliderImage3.jpg', Position = 'center', HeadingContent = 'FINEST TEA <br> CERAMICS', ParagraphContent = 'Feinste Teekeramik und Zubehör <br> von renommierten Künstlern und Studios.') }}