{% macro Checkbox (ID, Name, Value, Label, Error = false)%}
    <div class="CheckboxContainer">
        <label class="{% if Error%} CheckboxError{% else %}Checkbox{% endif %}">
            <input type="checkbox" id="{{ ID }}" name="{{ Name }}" value="{{ Value }}">
            <span class="checkmark"></span>
        </label>
        <label for="{{ ID }}" class="-sizeS regular">{{Label}}</label>
    </div>
{% endmacro %}