.MenuItem {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-8) 0px;

    text-decoration: none;
    color: var(--color-black);

    &:focus-visible {
      outline: var(--border-focus) solid var(--color-focus);
      border-radius: var(--border-radius-normal);
    }

    &:active:focus-visible {
      outline: none;
    }

    .MenuItem_IconDefault {
      display: block;
    }

    .MenuItem_IconHover {
      display: none;
    }

    &:hover {
      .MenuItem_IconDefault {
        display: none;
      }

      .MenuItem_IconHover {
        display: block;
      }
    }
  }
}
