.Breadcrumb {
  &_Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    list-style-type: none;
    gap: var(--space-4);
  }

  &_Item {
    display: flex;
    align-items: center;
    height: 24px;
    color: var(--color-copper-default);
  }
}
