{%- from "../../Atoms/Link/Link.njk" import UtilityLink %}
{%- from "../../Atoms/Icon/Icon.njk" import IconEmbedded %}

{% macro Breadcrumb(Items = []) %}
    <nav class="Breadcrumb" aria-label="Breadcrumb">
        <ol class="Breadcrumb_Container">
            {% for Item in Items %}
                <li class="Breadcrumb_Item">
                    {% if loop.last %}
                        <span class="Breadcrumb_Item medium">{{ Item.Label }}</span>
                    {% else %}
                        {{ UtilityLink(Item.Label, 'secondary', '-sizeS', 'medium', showIconLeft = false, showIconRight = false, Item.Target ) }}
                        {{ IconEmbedded('Chevron-right', 'regular') }}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endmacro %}