{%-from "../Icon/Icon.njk" import IconEmbedded -%}

{% macro Searchbar(Placeholder, LabelTop = false, LabelTopContent) %}
    <div class="Searchbar_FocusWrapper">
        <div class ="Searchbar_Wrapper">
            <div class="Searchbar_Container">
                <div class="Searchbar_Label">
                    {% if LabelTop %}
                        <label class="-sizeXS regular">{{ LabelTopContent }}</label>
                    {% endif %}
                    <input type="search" class="Searchbar_Search" placeholder="{{ Placeholder }}"/>
                </div>
            </div>
            <button class="Searchbar_Button">{{ IconEmbedded('Search') }}</button>
        </div>
    </div>
{% endmacro %}