{%- from "../Icon/Icon.njk" import IconEmbedded -%}

{% macro Button(Label, Size, Style, Outline, showIconLeft = false, IconContentLeft, showIconRight = false, IconContentRight, fullWidth = false, disabled = false, href = null, target = null) %}
    {% set IconOnly = showIconLeft and not Label and not showIconRight %}
    {% set default = {
    Label: 'Label',
    Size: 'regular',
    Style: 'secondary',
    Outline: null,
    showIconLeft: false,
    IconContentLeft: null,
    showIconRight: false,
    IconContentRight: null,
    fullWidth: false,
    disabled: false,
    href: null,
    target: null
  }%}
    {% set Label = Label or default.Label %}
    {% set Size = Size or default.Size %}
    {% set Style = Style or default.Style %}
    {% set Outline = Outline or default.Outline %}
    {% set showIconLeft = showIconLeft or default.showIconLeft %}
    {% set IconContentLeft = IconContentLeft or default.IconContentLeft %}
    {% set showIconRight = showIconRight or default.showIconRight %}
    {% set IconContentRight = IconContentRight or default.IconContentRight %}
    {% set fullWidth = fullWidth or default.fullWidth %}
    {% set disabled = disabled or default.disabled %}
    {% set href = href or default.href %}
    {% set target = target or default.target %}

    {% set classes %}
    Button Button-{{ Size }} Button-{{ Style }}
    {{ Outline }} {% if IconOnly %} Button-onlyIcon {% endif %} medium {% if fullWidth %} Button-fullWidth {% endif %}
    {% endset %}

    {% if href %}
        <a href="{{ href }}" class="{{ classes }}" {% if target %}target="{{ target }}"{% endif %} {% if disabled %}aria-disabled="true" tabindex="-1"{% endif %}>
    {% else %}
        <button type="button" class="{{ classes }}" {% if disabled %}disabled{% endif %}>
    {% endif %}
        {% if showIconLeft %}
            {{ IconEmbedded(IconContentLeft)}}
        {% endif %}

        <span class="Button_label">{{ Label }}</span>

        {% if showIconRight %}
            {{ IconEmbedded(IconContentRight)}}
        {% endif %}
        {% if href %}
        </a>
    {% else %}
        </button>
    {% endif %}
{% endmacro %}