{%- from "../Icon/Icon.njk" import IconEmbedded -%}

{% macro Button(Label = 'Label', Size = 'regular', Style = 'secondary', Outline = false, showIconLeft = false, IconContentLeft = null, showIconRight = false, IconContentRight = null, fullWidth = false, disabled = false, href = null, target = null) %}

    {% set IconOnly = showIconLeft and not Label and not showIconRight %}

    {% set classes %}
    Button Button-{{ Size }} 
    Button-{{ Style }}
    medium 
    {% if Outline %} Button outline {% endif %}
    {% if IconOnly %} Button-onlyIcon {% endif %}
    {% if fullWidth %} Button-fullWidth {% endif %}
    {% endset %}

    {% if href %}
        <a href="{{ href | url }}" class="{{ classes }}" {% if target %}target="{{ target }}"{% endif %} {% if disabled %}aria-disabled="true" tabindex="-1"{% endif %}>
    {% else %}
        <button type="button" class="{{ classes }}" {% if disabled %}disabled{% endif %}>
    {% endif %}

        {% if showIconLeft %}
            {{ IconEmbedded(IconContentLeft)}}
        {% endif %}

        <span class="Button_label">{{ Label }}</span>

        {% if showIconRight %}
            {{ IconEmbedded(IconContentRight)}}
        {% endif %}
        {% if href %}
        </a>
    {% else %}
        </button>
    {% endif %}
{% endmacro %}