.Button {
  width: auto;
  max-width: 800px;
  height: auto;
  padding: 12px 12px;
  border: var(--border-normal) solid transparent;
  border-radius: var(--border-radius-normal);
  font-family: inherit;
  font-size: var(--font-size-14);
  pointer-events: auto;
  text-decoration: none;
  align-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-8);
  cursor: pointer;

  &-fullWidth {
    width: 100%;
  }

  &:focus-visible {
    outline: var(--border-focus) solid var(--color-focus);
    border-radius: var(--border-radius-normal);
    outline-offset: -3px;
    z-index: 1000;
  }

  &:active:focus-visible {
    outline: none;
  }

  &:disabled,
  &[aria-disabled="true"] {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }

  &-primary {
    background-color: var(--color-matcha-default);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-matcha-hover);
    }
    &:active {
      background-color: var(--color-matcha-pressed);
    }

    &.outline {
      border: var(--border-normal) solid var(--color-matcha-default);
      background-color: transparent;
      color: var(--color-matcha-default);

      &:hover {
        border-color: var(--color-matcha-hover);
        color: var(--color-matcha-hover);
      }
      &:active {
        border-color: var(--color-matcha-pressed);
        color: var(--color-matcha-pressed);
      }
    }
  }

  &-secondary {
    background-color: var(--color-copper-default);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-copper-hover);
    }
    &:active {
      background-color: var(--color-copper-pressed);
    }

    &.outline {
      border: var(--border-normal) solid var(--color-copper-default);
      background-color: transparent;
      color: var(--color-copper-default);

      &:hover {
        border-color: var(--color-copper-hover);
        color: var(--color-copper-hover);
      }
      &:active {
        border-color: var(--color-copper-pressed);
        color: var(--color-copper-pressed);
      }
    }
  }

  &-tertiary {
    background-color: var(--color-ash-default);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-ash-hover);
    }
    &:active {
      background-color: var(--color-ash-pressed);
    }

    &.outline {
      border: var(--border-normal) solid var(--color-ash-default);
      background-color: transparent;
      color: var(--color-ash-default);

      &:hover {
        border-color: var(--color-ash-hover);
        color: var(--color-ash-hover);
      }
      &:active {
        border-color: var(--color-ash-pressed);
        color: var(--color-ash-pressed);
      }
    }
  }
  &-small {
    padding: var(--space-6);
  }
  &-regular {
    padding: var(--space-10);
  }
  &-large {
    padding: var(--space-14);
  }
  &-onlyIcon {
    gap: 0px;
  }

  &_label {
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: center;
  }
}
