.RangerContainer {
  display: flex;
  flex-direction: column;
  width: 328px;
}

.RangerLabels {
  display: flex;
  justify-content: space-between;
}

.Ranger {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  height: 20px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  --progress: 0%;
  --track-fill: var(--color-copper-default);

  &:focus-visible {
    outline: var(--border-focus) solid var(--color-focus);
    border-radius: var(--border-radius-normal);
  }
  &:active:focus-visible {
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    border: none;
    border-radius: var(--border-radius-normal);
    background: linear-gradient(
      to right,
      var(--track-fill) 0%,
      var(--track-fill) var(--progress),
      var(--color-grey-default) var(--progress),
      var(--color-grey-default) 100%
    );
  }

  &:hover {
    --track-fill: var(--color-copper-hover);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 16px;
    height: 16px;
    background: var(--color-ash-default);
    border: none;
    border-radius: 50%;
    margin-top: -6px;
    cursor: pointer;
    transition: transform 0.15s;
  }

  &:hover::-webkit-slider-thumb {
    transform: scale(1.2);
  }

  &:active::-webkit-slider-thumb {
    background-color: var(--color-ash-hover);
  }
}
