.Header {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-8) var(--space-16);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-white);

  &_Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.TopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--color-black);

  &:focus-visible {
    outline: var(--border-focus) solid var(--color-focus);
    border-radius: var(--border-radius-normal);
  }

  &:active:focus-visible {
    outline: none;
  }

  .TopButton_IconDefault {
    display: block;
  }

  .TopButton_IconHover {
    display: none;
  }

  &:hover {
    .TopButton_IconDefault {
      display: none;
    }

    .TopButton_IconHover {
      display: block;
    }
  }
}
