{%-from "../../Atoms/Icon/Icon.njk" import IconEmbedded %}

{% macro UneditableRating(Label = null, FilledStars = '4', Size = 'large') %}

    <div class="UneditableRating">
        <div class="UneditableRating_Stars">
            {% for star in range (1, 6)%}
                {% if star <= FilledStars %}
                    {{ IconEmbedded("Star-filled", Size = Size) }}
                {% else %}
                    {{ IconEmbedded("Star", Size = Size) }}
                {% endif %}
            {% endfor %}
        </div>
        <span class="UneditableRating_Label">{{ Label }}</span>
    </div>
{% endmacro %}

{% macro EditableRating() %}{% endmacro %}