.mobile-viewport {
  max-width: 360px;
  min-height: 800px;
  max-height: 800px;
  gap: var(--space-16);
  overflow-y: scroll;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::-webkit-scrollbar {
    display: none;
  }
}
