.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .content-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    gap: var(--space-32);
    max-width: 1196px;
  }
}
