.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: var(--space-16);
  width: 100%;
  height: 100%;
  flex-direction: column;

  .content-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    gap: var(--space-32);
    max-width: 1196px;
  }
}

.iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--space-16);
  width: 100%;
  height: 100%;
  flex-direction: column;

  &_mobile {
    width: 360px;
    height: 800px;
    z-index: 10000;
    box-shadow:
      0 10px 40px rgba(0, 0, 0, 0.2),
      0 2px 8px rgba(0, 0, 0, 0.1);
  }

  &_tablet {
    // width: 1024px;
    // height: 768px;
    width: 1280px;
    height: 800px;
    z-index: 10000;
    box-shadow:
      0 10px 40px rgba(0, 0, 0, 0.2),
      0 2px 8px rgba(0, 0, 0, 0.1);
  }
}
