.responsive-viewport {
  // max-width: 360px;
  // min-height: 800px;
  // max-height: 800px;
  // gap: var(--space-16);
  // overflow-y: scroll;
  // margin: auto;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // background-color: var(--color-white);

  &::-webkit-scrollbar {
    display: none;
  }

  main {
    padding: 0 var(--space-16);

    &.no-padding {
      padding: 0;
    }
  }
}
