---
layout: Layouts/overviewlayout.njk
title: Two Leaf 
permalink: /overview/
---

{%- from "../../_includes/components/Atoms/Heading/Heading.njk" import Heading -%}
{%- from "../../_includes/components/Atoms/Paragraph/Paragraph.njk" import Paragraph -%}
{%- from "../../_includes/components/Atoms/Icon/Icon.njk" import IconEmbedded -%}
{%- from "../../_includes/components/Atoms/Chip/Chip.njk" import Chip -%}
{%- from "../../_includes/components/Atoms/Searchbar/Searchbar.njk" import Searchbar -%}
{%- from "../../_includes/components/Molecules/ButtonGroup/ButtonGroup.njk" import ButtonGroup -%}

{{ Heading( Tag = "h1", Content = "TWO LEAF - components overview", Weight="bold", Size = "-sizeXXL") }}
{{ Searchbar ( Placeholder = "Suchen...", Size = "-sizeM") }}
{% call ButtonGroup() %}
{{ Chip( Label = "Atoms") }}
{{ Chip( Label = "Molecules") }}
{{ Chip( Label = "Organisms") }}
{% endcall %}
{{ Heading( Tag = "h2", Content = "Atoms", Weight="bold", Size = "-sizeXL") }}
<div class="Overview_ComponentList">
    <a class= "Overview_Component" href="./components/buttonpage">
        {{ Paragraph (Content="Button", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/checkboxpage">
        {{ Paragraph (Content="Checkbox/Radio/Toggle", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/chippage">
        {{ Paragraph (Content="Chip", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/dividerpage">
        {{ Paragraph (Content="Divider", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/dropdownpage">
        {{ Paragraph (Content="Dropdown", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/headingpage">
        {{ Paragraph (Content="Heading", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/iconpage">
        {{ Paragraph (Content="Icon", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/inputfieldpage">
        {{ Paragraph (Content="Inputfield", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/linkpage">
        {{ Paragraph (Content="Link", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/logopage">
        {{ Paragraph (Content="Logo", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/paragraphpage">
        {{ Paragraph (Content="Paragraph", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/rangerpage">
        {{ Paragraph (Content="Ranger", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/searchbarpage">
        {{ Paragraph (Content="Searchbar", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/textareapage">
        {{ Paragraph (Content="Textarea", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
</div>
{{ Heading( Tag = "h2", Content = "Molecules", Weight="bold", Size = "-sizeXL") }}
<div class="Overview_ComponentList">
    <a class= "Overview_Component" href="./components/breadcrumbpage">
        {{ Paragraph (Content="Breadcrumb", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/contactblockpage">
        {{ Paragraph (Content="Contact Block", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/downloadfieldpage">
        {{ Paragraph (Content="Downloadfield", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/groupspage">
        {{ Paragraph (Content="Groups", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/listpage">
        {{ Paragraph (Content="List", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/menuitempage">
        {{ Paragraph (Content="MenuItem", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/producttilepage">
        {{ Paragraph (Content="ProductTile", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/ratingpage">
        {{ Paragraph (Content="Rating", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/staticbannerpage">
        {{ Paragraph (Content="Static Banner", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/tablepage">
        {{ Paragraph (Content="Table", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/texticonpage">
        {{ Paragraph (Content="Text-Icon", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
</div>
{{ Heading( Tag = "h2", Content = "Organisms", Weight="bold", Size = "-sizeXL") }}
<div class="Overview_ComponentList">
    <a class= "Overview_Component" href="./components/appnavigationpage">
        {{ Paragraph (Content="App Navigation", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/footerpage">
        {{ Paragraph (Content="Footer", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/gallerypage">
        {{ Paragraph (Content="Gallery", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/headerpage">
        {{ Paragraph (Content="Header", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/sliderpage">
        {{ Paragraph (Content="Slider", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
</div>
{{ Heading( Tag = "h2", Content = "Layouts", Weight="bold", Size = "-sizeXL") }}
<div class="Overview_ComponentList">
    <a class= "Overview_Component" href="./components/mobilepage">
        {{ Paragraph (Content="Mobile", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/tabletpage">
        {{ Paragraph (Content="Tablet", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
</div>