---
layout: Layouts/overviewlayout.njk
title: Two Leaf 
permalink: /overview/
---

{%- from "../../_includes/components/Atoms/Heading/Heading.njk" import Heading -%}
{%- from "../../_includes/components/Atoms/Paragraph/Paragraph.njk" import Paragraph -%}
{%- from "../../_includes/components/Atoms/Icon/Icon.njk" import IconEmbedded -%}
{%- from "../../_includes/components/Atoms/Searchbar/Searchbar.njk" import Searchbar -%}

{{ Heading( Tag = "h1", Content = "TWO LEAF - components Overview", Weight="bold", Size = "-sizeXXL") }}
{{ Searchbar ( Placeholder = "Suchen...", Size = "-sizeM") }}
{{ Heading( Tag = "h2", Content = "Atoms", Weight="bold", Size = "-sizeXL") }}
<div class="Overview_ComponentList">
    <a class= "Overview_Component" href="./components/buttonpage">
        {{ Paragraph (Content="Button", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/iconpage">
        {{ Paragraph (Content="Icon", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/linkpage">
        {{ Paragraph (Content="Link", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/chippage">
        {{ Paragraph (Content="Chip", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/checkboxpage">
        {{ Paragraph (Content="Checkbox/Radio/Toggle", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/dropdownpage">
        {{ Paragraph (Content="Dropdown", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
    <a class= "Overview_Component" href="./components/searchbarpage">
        {{ Paragraph (Content="Searchbar", Weight="medium") }}
        {{ IconEmbedded(Icon ="Chevron-right") }}
    </a>
</div>