{%- from "../../Atoms/Icon/Icon.njk" import IconEmbedded %}
{%- from "../../Molecules/Breadcrumb/Breadcrumb.njk" import Breadcrumb %}
{%- from "../../Atoms/Logo/Logo.njk" import Logo %}

{% macro Header(Nav = false, Items) %}
    <header class="Header" aria-label="Website Header">
        <div class="Header_Container">
            {{ Logo("/", 'header')}}
            {{ TopButton ()}}
        </div>

        {% if Nav %}
            {{ Breadcrumb( Items ) }}
        {% endif %}
    </header>
{% endmacro %}

{% macro TopButton ()%}
    <a href="#" class="TopButton" aria-label="Back to top">
        <span class="TopButton_IconDefault">{{ IconEmbedded('Chevron-up', 'large', 'black') }}</span>
        <span class="TopButton_IconHover">{{ IconEmbedded('Chevrons-up', 'large', 'black') }}</span>
    </a>
{% endmacro %}