{% macro Paragraph( Size = '-sizeS', Weight = 'regular', Content = null, Classname = '') %}

    <p class="Paragraph {{ Size }} {{ Weight }}">
        {% if Content %}
            {{ Content | safe }}
        {% elif caller %}
            {{ caller() }}
        {% endif %}
    </p>
{% endmacro %}