.InputfieldWrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-2);
}

.InputfieldContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 48px;
  background-color: var(--color-white);
  gap: 0px;
  padding: 7.5px 12px;
  cursor: text;

  border: var(--border-normal) solid var(--color-copper-default);
  border-radius: var(--border-radius-normal);

  &:hover {
    border-color: var(--color-copper-hover);
    background-color: var(--color-copper-hover-30);
  }

  &:focus-within {
    background-color: var(--color-copper-active);
    outline: var(--border-focus) solid var(--color-focus);
  }

  &.mouse-focus:focus-within {
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.Inputfield {
  width: 100%;
  height: 21px;
  appearance: none;
  border: none;
  background: transparent;

  font-family: inherit;
  color: var(--color-black);

  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  &::placeholder {
    color: var(--color-black-40);
  }
}

.LabelContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.InputfieldContainerError {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 48px;
  gap: 0px;
  padding: 7.5px 12px;
  cursor: text;

  border: var(--border-normal) solid var(--color-error-default);
  border-radius: var(--border-radius-normal);

  &:hover {
    border-color: var(--color-error-hover);
    background-color: var(--color-error-hover-30);
  }

  &:focus-within {
    background-color: var(--color-error-light-30);
    outline: var(--border-focus) solid var(--color-focus);
  }

  &.mouse-focus:focus-within {
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
