{%- from "../Icon/Icon.njk"import IconEmbedded -%}

{% macro UtilityLink(Label, Style, Size, Weight, showIconLeft = false, IconContentLeft, showIconRight = false, IconContentRight, Target = "#") %}
    <a href="{{ Target }}" class="UtilityLink UtilityLink-{{ Style }} {{ Size }} {{ Weight }}" >

        {% if showIconLeft %}
            {{ IconEmbedded([IconContentLeft])}}
        {% endif %}

        <span class="UtilityLink_label">{{ Label }}</span>

        {% if showIconRight %}
            {{ IconEmbedded([IconContentRight])}}
        {% endif %}

    </a>
{% endmacro %}

{% macro InlineLink(Label, Style, Size, Weight, Target = "#") %}
    <a href="{{ Target }}" class="InlineLink InlineLink-{{ Style }} {{ Size }} {{ Weight }}" >
        {{ Label }}
    </a>
{% endmacro %}