.Gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--space-16);

  &_Container {
    grid-column: 1/13;
  }

  &_innerContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--space-16);
  }

  &-left {
    grid-column: 1 / 7;
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
  }

  &-right {
    grid-column: 7 / 13;
  }
}
