{%- from "../../Atoms/Heading/Heading.njk" import Heading %}
{%- from "../../Atoms/Paragraph/Paragraph.njk" import Paragraph %}
{%- from "../../Atoms/Image/Image.njk" import Image %}

{% macro Gallery(HeadingContent, ParagraphContent, Images = {}, Labels = {}) %}
    {#  Images = {Image(Nummer) src, alt, fit, label}  #}
    <div class="Gallery">
        <div class="Gallery_HeadingWrapper">
            {{ Paragraph ('-sizeL', 'regular', ParagraphContent)}}
            {{ Heading ('h2', '-sizeXXL', 'bold', 'black', HeadingContent )}}
        </div>
        <div class="Gallery_Container" style="background-image: url('{{ Images.Image1.src | url }}')">
            <span class="GalleryGrid_Label -sizeL bold">{{ Labels.Label1 }}</span>
        </div>
        <div class="Gallery_Container">
            <div class="Gallery_innerContainer">
                <div class="Gallery-left">
                    <div style="background-image: url('{{ Images.Image2.src | url }}')">
                        <span class="GalleryGrid_Label -sizeL bold">{{ Labels.Label2 }}</span>
                    </div>
                    <div style="background-image: url('{{ Images.Image3.src | url }}')">
                        <span class="GalleryGrid_Label -sizeL bold">{{ Labels.Label3 }}</span>
                    </div>
                </div>
                <div class="Gallery-right" style="background-image: url('{{ Images.Image4.src | url }}')">
                    <span class="GalleryGrid_Label -sizeL bold">{{ Labels.Label4 }}</span>
                </div>
            </div>
        </div>
        <div class="Gallery_Container" style="background-image: url('{{ Images.Image5.src | url }}')">
            <span class="GalleryGrid_Label -sizeL bold">{{ Labels.Label5 }}</span>
        </div>
    </div>
{% endmacro %}

{% macro GalleryGrid(items) %}
    <div class="GalleryGrid">
        {% for item in items %}
            <a href="{{ item.target | url }}" class="GalleryGrid_Link">
                <div class="GalleryGrid_Item">
                    {{ Image(
          src = item.src,
          alt = item.alt,
          size = 'GalleryGrid_Image',
          fit = 'cover',
          figcaption = false,
          label = '',
          loadingLazy = true
        ) }}
                    <span class="GalleryGrid_Label -sizeL bold">{{ item.label }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
{% endmacro %}