---
---

{# Atoms  #}
{%- from "./components/Atoms/Icon/Icon.njk" import IconEmbedded -%}
{%- from "./components/Atoms/Button/Button.njk" import Button -%}
{%- from "./components/Atoms/Link/Link.njk" import UtilityLink -%}
{%- from "./components/Atoms/Link/Link.njk" import InlineLink -%}
{%- from "./components/Atoms/Paragraph/Paragraph.njk" import Paragraph -%}
{%- from "./components/Atoms/Heading/Heading.njk" import Heading -%}
{%- from "./components/Atoms/Radio/Radio.njk" import Radio -%}
{%- from "./components/Atoms/Checkbox/Checkbox.njk" import Checkbox -%}
{%- from "./components/Atoms/Toggle/Toggle.njk" import Toggle -%}
{%- from "./components/Atoms/Ranger/Ranger.njk" import Ranger -%}
{%- from "./components/Atoms/Inputfield/Inputfield.njk" import Inputfield -%}
{%- from "./components/Atoms/Textarea/Textarea.njk" import Textarea -%}
{%- from "./components/Atoms/Dropdown/Dropdown.njk" import Dropdown -%}
{%- from "./components/Atoms/Image/Image.njk" import Image -%}
{%- from "./components/Atoms/Chip/Chip.njk" import Chip -%}
{%- from "./components/Atoms/Divider/Divider.njk" import Divider -%}
{%- from "./components/Atoms/Logo/Logo.njk" import Logo -%}
{%- from "./components/Atoms/Validation/Validation.njk" import Validation -%}
{%- from "./components/Atoms/Searchbar/Searchbar.njk" import Searchbar -%}

{# Molecules  #}
{%- from "./components/Molecules/IconGroup/IconGroup.njk" import IconGroup -%}
{%- from "./components/Molecules/ButtonGroup/ButtonGroup.njk" import ButtonGroup -%}
{%- from "./components/Molecules/Rating/Rating.njk" import UneditableRating, EditableRating -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Two Leaf - A modern web project">
    <title>Two Leaf</title>
    <link rel="stylesheet" href="./assets/styles/main.css">
    <link rel="preload" href="./assets/fonts/montserrat_variable.woff2" as="font" type="font/woff2" crossorigin>
  </head>

  <body>
    {{ Logo ("/", "small") }}
    {{ Logo ("/") }}
    {{ Logo ("/", "large") }}
    {{ Ranger("preis", 100, 1, 200, "Preis", '€') }}
    {{ Ranger("time", 4, 1, 8, "Ziehzeit", 'min') }}
    {{ Validation('Info', 'This is a success message') }}
    {{ Validation('Success', 'This is a success message') }}
    {{ Validation('Error', 'This is a success message') }}
    {{ Validation('Warning', 'This is a success message') }}

    <form action="">
      {{ Inputfield('text', 'Name', LabelTop = true, 'Hello', IconRight = true, IconRightContent = 'Search', hasValidation = true, ValidationContent = { type: 'Warning', label: 'This is an info message' }) }}
      {{ Inputfield('text', 'Name', LabelTop = false, 'Hello', IconRight = true, IconRightContent = 'Search', hasValidation = true, ValidationContent = { type: 'Error', label: 'Fehlerhafte Eingabe' }) }}
      {{ Searchbar('Search...', LabelTop = true, 'Search for items') }}
    </form>
    <br>
    {{ Textarea('textarea01', 'description', 'Enter your description here...', LabelTop = true, 'Description') }}
    <br>
    {{ Dropdown ('dropdown01', 'options',{ DropdownItems: [
        { value: 'option1', label: 'Option 1' },
        { value: 'option2', label: 'Option 2' },
        { value: 'option3', label: 'Option 3' },
        { value: 'option4', label: 'Option 4' },
        { value: 'option5', label: 'Option 5' },
        { value: 'option6', label: 'Option 6' }
    ]}) }}
    <br>
    <div class="testdiv">
      {{ Chip('Label', 'secondary', IconLeft = false, IconRight = false, IconHeart = false, IconCheck = true) }}
      {{ Button('Click Me', 'regular', 'primary')}}
      {{ UneditableRating("Sample Label", FilledStars = 3) }}
      {{ IconGroup(['Home-filled', 'Cart', 'Chevron-up', 'Error', 'Error', 'Error', 'Error','Error', 'Error', 'Error', 'Error','Error' , 'Error' , 'Error' , 'Error' , 'Error' , 'Error' , 'Error']) }}
      {{ IconGroup(['Home-filled', 'Cart', 'Chevron-up', 'Error']) }}
      {{ ButtonGroup( { Settings: [
          { Label: 'Button 1', Size: 'small', Style: 'primary', Outline: '', showIconLeft: true, IconContentLeft: 'Error', showIconRight: true, IconContentRight: 'Cart' },
          { Label: 'Button 1', Size: 'small', Style: 'primary', Outline: '', showIconLeft: true, IconContentLeft: 'Error' },
          { Label: 'Button 2', Size: 'small', Style: 'secondary', Outline: 'outline', showIconLeft: false, showIconRight: true, IconContentRight: 'Cart' },
          { Label: 'Button 3', Size: 'small', Style: 'tertiary', Outline: '', showIconLeft: true, IconContentLeft: 'Chevron-left', showIconRight: true, IconContentRight: 'Chevron-up' }
      ]}) }}
      {{ Divider('secondary') }}
    </div>
    {{ Image('./assets/img/ProductImage1.jpg', 'Sample Image', 'ProductCard', 'cover', true) }}
    <p class="light">Probe Text</p>
    <p class="medium">Probe Text 2</p>
    {{ UtilityLink ('Learn More', 'primary', '-sizeXS', 'light') }}
    {{ UtilityLink ('Learn More', 'secondary', '-sizeS', 'regular') }}
    {{ UtilityLink ('Learn More', 'primary', '-sizeS', 'medium', showIconRight =true, IconContentRight = 'Home') }}

    <p class="regular">Testen wir den {{ InlineLink ('Ich bin ein Inline Link', 'secondary', '-sizeS', 'regular') }} dadadaa</p>

    {{ Paragraph ('-sizeS', 'regular', 'Dies ist ein Paragraph mit der Größe S und Gewicht regular. Dies ist ein Paragraph mit der Größe S und Gewicht regular. Dies ist ein Paragraph mit der Größe S und Gewicht regular. Dies ist ein Paragraph mit der Größe S und Gewicht regular. Dies ist ein Paragraph mit der Größe S und Gewicht regular.') }}

    {{ Radio ('radio01', 'Test', 'radio01', 'Option 1') }}
    {{ Radio ('radio02', 'Test', 'radio02', 'Option 2') }}
    {{ Checkbox ('checkbox01', 'Test', 'checkbox01', 'Checkbox 1' ) }}

    <br>

    {{ Toggle ('checkbox02', 'Test', 'checkbox02', 'Checkbox 2' ) }}

    {{ Heading ('h1', '-sizeXL', 'bold', 'black', 'Im a Heading') }}
    {{ Heading ('h2', '-sizeL', 'medium', 'black', 'Im a Heading') }}
    {{ Heading ('h3', '-sizeM', 'regular', 'black', 'Im a Heading') }}
    {{ Heading ('h4', '-sizeS', 'light', 'black', 'Im a Heading') }}
    {{ Heading ('h5', '-sizeXS', 'regular', 'black', 'Im a Heading') }}

    {{ Heading ('h6', '-sizeXL', 'bold', 'black', 'Im a Heading') }}
    {{ Heading ('h1', '-sizeL', 'medium', 'white', 'Im a Heading') }}

    {{ IconEmbedded ('Home-filled') }}
    {{ IconEmbedded ('Cart', 'white') }}
    {{ IconEmbedded ('Chevron-up') }}

    {{ Button('Click', 'small', 'primary', 'outline') }}
    {{ Button('Cancel', 'small', 'tertiary') }}
    {{ Button('Submit', 'regular', 'secondary', showIconLeft = true, IconContentLeft = 'Chevron-left', showIconRight = true, IconContentRight = 'Home-filled') }}
    {{ Button('Cancel', 'large', 'tertiary') }}
    {{ Button ('', 'regular', 'primary', showIconLeft = true, IconContentLeft = 'Home')}}

    {# Scripts #}
    <script src="/components/Atoms/Ranger/Ranger.js"></script>
    <script src="/components/Atoms/Inputfield/Inputfield.js"></script>
    <script src="/components/Atoms/Searchbar/Searchbar.js"></script>
    <script src="/components/Atoms/Textarea/Textarea.js"></script>
    <script src="/components/Atoms/Dropdown/Dropdown.js"></script>
    <script src="/components/Atoms/Chip/Chip.js"></script>
  </body>
</html>