{%-from "src/components/Atoms/Icon/Icon.njk" import IconEmbedded %}

{% macro UneditableRating(Label, FilledStars = 4) %}

    <div class="UneditableRating">
        <div class="UneditableRating_Stars">
            {% for star in range (1, 6)%}
                {% if star <= FilledStars %}
                    {{ IconEmbedded("Star-filled") }}
                {% else %}
                    {{ IconEmbedded("Star") }}
                {% endif %}
            {% endfor %}
        </div>
        {{ IconEmbedded("Subtract") }}
        <span class="UneditableRating_Label">{{ Label }}</span>
    </div>
{% endmacro %}

{% macro EditableRating() %}{% endmacro %}