:root {
  // Brand Colors
  --color-matcha-default: #70892e;
  --color-matcha-hover: #537213;
  --color-matcha-pressed: #2d531a;

  --color-copper-active: #f4deb6;
  --color-copper-default: #a67134;
  --color-copper-hover: #865a26;
  --color-copper-hover-30: #dbcebe;
  --color-copper-pressed: #593d1c;
  --color-copper-pressed-30: #cec5bb;

  --color-ash-default: #484848;
  --color-ash-hover: #212121;
  --color-ash-pressed: #101010;

  --color-grey-light: #e0e2e5;
  --color-grey-default: #b9b9b9;
  --color-grey-hover: #6e6e6e;

  --color-darkwood: #27221f;

  // Funtional Colors
  --color-yellow: #ffbc20;
  --color-red: #d32f2f;
  --color-green: #00a63e;
  --color-blue: #118ab2;
  --color-focus: #1e88e5;

  // Neutral Colors
  --color-black: #000000;
  --color-black-40: #999999;
  --color-white: #ffffff;
  --color-bgwhite: #f9f8f4;
  --color-bgfooter: #fff8eb;

  //Error Colors
  --color-error-light: #ff7474;
  --color-error-light-30: #ffd6d6;
  --color-error-default: #d32f2f;
  --color-error-hover: #bc2020;
  --color-error-hover-30: #f2c1c1;
  --color-error-pressed: #9a0e0e;
  --color-error-pressed-30: #e1b7b7;
}
