@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat_variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: MontserratItalic;
  src: url("../fonts/montserrat_variable_italic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.-italic {
  font-family: MontserratItalic;
}

// @font-face {
//   font-family: Montserrat;
//   src: url("../fonts2/montserrat-v31-latin-300.woff2") format("woff2");
//   font-weight: 300;
// }
// @font-face {
//   font-family: Montserrat;
//   src: url("../fonts2/montserrat-v31-latin-400.woff2") format("woff2");
//   font-weight: 400;
// }
// @font-face {
//   font-family: Montserrat;
//   src: url("../fonts2/montserrat-v31-latin-500.woff2") format("woff2");
//   font-weight: 500;
// }
// @font-face {
//   font-family: Montserrat;
//   src: url("../fonts2/montserrat-v31-latin-700.woff2") format("woff2");
//   font-weight: 700;
// }
// @font-face {
//   font-family: MontserratItalic;
//   src: url("../fonts2/montserrat-v31-latin-300italic.woff2") format("woff2");
//   font-weight: 300;
// }
// @font-face {
//   font-family: MontserratItalic;
//   src: url("../fonts2/montserrat-v31-latin-400italic.woff2") format("woff2");
//   font-weight: 400;
// }
// @font-face {
//   font-family: MontserratItalic;
//   src: url("../fonts2/montserrat-v31-latin-500italic.woff2") format("woff2");
//   font-weight: 500;
// }
// @font-face {
//   font-family: MontserratItalic;
//   src: url("../fonts2/montserrat-v31-latin-700italic.woff2") format("woff2");
//   font-weight: 700;
// }

// .-weight {
//   &Light {
//     font-weight: 300;
//   }
//   &Regular {
//     font-weight: 400;
//   }
//   &Medium {
//     font-weight: 500;
//   }
//   &Bold {
//     font-weight: 700;
//   }
// }
// .-italic {
//   font-family: MontserratItalic;
// }
