@use "colors";
@use "fonts";
@use "var";

//Atoms
@use "../../components/Atoms/Icon/Icon.scss";
@use "../../components/Atoms/Button/Button.scss";
@use "../../components/Atoms/Link/Link.scss";

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-copper-hover-30);
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-14);
}
