// Variables
@use "colors";
@use "fonts";
@use "var";

// Atoms
@use "../../components/Atoms/Icon/Icon.scss";
@use "../../components/Atoms/Button/Button.scss";
@use "../../components/Atoms/Link/Link.scss";
@use "../../components/Atoms/Paragraph/Paragraph.scss";
@use "../../components/Atoms/Heading/Heading.scss";
@use "../../components/Atoms/Radio/Radio.scss";
@use "../../components/Atoms/Checkbox/Checkbox.scss";
@use "../../components/Atoms/Toggle/Toggle.scss";
@use "../../components/Atoms/Ranger/Ranger.scss";
@use "../../components/Atoms/Inputfield/Inputfield.scss";
@use "../../components/Atoms/Textarea/Textarea.scss";
@use "../../components/Atoms/Dropdown/Dropdown.scss";
@use "../../components/Atoms/Image/Image.scss";
@use "../../components/Atoms/Chip/Chip.scss";
@use "../../components/Atoms/Divider/Divider.scss";
@use "../../components/Atoms/Logo/Logo.scss";
@use "../../components/Atoms/Validation/Validation.scss";
@use "../../components/Atoms/Searchbar/Searchbar.scss";

// Molecules
@use "../../components/Molecules/IconGroup/IconGroup.scss";
@use "../../components/Molecules/ButtonGroup/ButtonGroup.scss";
@use "../../components/Molecules/Rating/Rating.scss";
@use "../../components/Molecules/TextIcon/TextIcon.scss";
@use "../../components/Molecules/MenuItem/MenuItem.scss";
@use "../../components/Molecules/DownloadField/DownloadField.scss";
@use "../../components/Molecules/ContactBlock/ContactBlock.scss";
@use "../../components/Molecules/StaticBanner/StaticBanner.scss";
@use "../../components/Molecules/Breadcrumb/Breadcrumb.scss";
@use "../../components/Molecules/ProductTile/ProductTile.scss";

// Organisms
@use "../../components/Organisms/Slider/Slider.scss";
@use "../../components/Organisms/Gallery/Gallery.scss";
@use "../../components/Organisms/Header/Header.scss";
@use "../../components/Organisms/AppNav/AppNav.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // outline: 1px solid red !important;
}

body {
  background-color: var(--color-bgwhite);
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-14);
  width: 100%;
  min-width: 360px;
}

.testdiv {
  width: 450px;
}
.testdiv2 {
  width: 360px;
  height: 616px;
}
.testdiv3 {
  width: 360px;
  height: 616px;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}
