@use "colors";
@use "fonts";
@use "spacer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Montserrat, sans-serif;
}

body {
  background-color: var(--color-copper-hover-30);
}
