// Variables
@use "../styles/vars/colors";
@use "../styles/vars/fonts";
@use "../styles/vars/var";

// Layouts
@use "../styles/layouts/responsive.scss";
@use "../styles/layouts/overviewlayout.scss";

// Pages
@use "../styles/pages/home.scss";
@use "../styles/pages/shop.scss";
@use "../styles/pages/cart.scss";
@use "../styles/pages/profile.scss";
@use "../styles/pages/overview.scss";

// Atoms
@use "../../_includes/components/Atoms/Icon/Icon.scss";
@use "../../_includes/components/Atoms/Button/Button.scss";
@use "../../_includes/components/Atoms/Link/Link.scss";
@use "../../_includes/components/Atoms/Paragraph/Paragraph.scss";
@use "../../_includes/components/Atoms/Heading/Heading.scss";
@use "../../_includes/components/Atoms/Radio/Radio.scss";
@use "../../_includes/components/Atoms/Checkbox/Checkbox.scss";
@use "../../_includes/components/Atoms/Toggle/Toggle.scss";
@use "../../_includes/components/Atoms/Ranger/Ranger.scss";
@use "../../_includes/components/Atoms/Inputfield/Inputfield.scss";
@use "../../_includes/components/Atoms/Textarea/Textarea.scss";
@use "../../_includes/components/Atoms/Dropdown/Dropdown.scss";
@use "../../_includes/components/Atoms/Image/Image.scss";
@use "../../_includes/components/Atoms/Chip/Chip.scss";
@use "../../_includes/components/Atoms/Divider/Divider.scss";
@use "../../_includes/components/Atoms/Logo/Logo.scss";
@use "../../_includes/components/Atoms/Validation/Validation.scss";
@use "../../_includes/components/Atoms/Searchbar/Searchbar.scss";

// Molecules
@use "../../_includes/components/Molecules/IconGroup/IconGroup.scss";
@use "../../_includes/components/Molecules/ButtonGroup/ButtonGroup.scss";
@use "../../_includes/components/Molecules/LinkGroup/LinkGroup.scss";
@use "../../_includes/components/Molecules/Rating/Rating.scss";
@use "../../_includes/components/Molecules/TextIcon/TextIcon.scss";
@use "../../_includes/components/Molecules/MenuItem/MenuItem.scss";
@use "../../_includes/components/Molecules/DownloadField/DownloadField.scss";
@use "../../_includes/components/Molecules/ContactBlock/ContactBlock.scss";
@use "../../_includes/components/Molecules/StaticBanner/StaticBanner.scss";
@use "../../_includes/components/Molecules/Breadcrumb/Breadcrumb.scss";
@use "../../_includes/components/Molecules/ProductTile/ProductTile.scss";
@use "../../_includes/components/Molecules/Table/Table.scss";
@use "../../_includes/components/Molecules/List/List.scss";
@use "../../_includes/components/Molecules/Section/Section.scss";

// Organisms
@use "../../_includes/components/Organisms/Slider/Slider.scss";
@use "../../_includes/components/Organisms/Gallery/Gallery.scss";
@use "../../_includes/components/Organisms/Header/Header.scss";
@use "../../_includes/components/Organisms/AppNav/AppNav.scss";
@use "../../_includes/components/Organisms/Footer/Footer.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: var(--font-size-14);
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}
