:root {
  --font-size-10: 10px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat_variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

.-sizeXS {
  font-size: var(--font-size-10);
}
.-sizeS {
  font-size: var(--font-size-14);
}
.-sizeM {
  font-size: var(--font-size-16);
}
.-sizeL {
  font-size: var(--font-size-20);
}
.-sizeXL {
  font-size: var(--font-size-24);
}
.-sizeXXL {
  font-size: var(--font-size-32);
}
