.swiper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}

.swiper--navigation {
  --swiper-navigation-top-offset: 80%;
  --swiper-navigation-sides-offset: 112px;

  .swiper-button-prev {
    width: 48px;
    height: 48px;
    background-color: var(--color-copper-default);
    border-radius: var(--border-radius-normal);
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22white%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20aria-label%3D%22Icon%22%20role%3D%22img%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.8536%2013.8536C12.0488%2013.6583%2012.0488%2013.3417%2011.8536%2013.1464L8.70711%2010L11.8536%206.85355C12.0488%206.65829%2012.0488%206.34171%2011.8536%206.14645C11.6583%205.95118%2011.3417%205.95118%2011.1464%206.14645L7.64645%209.64645C7.45118%209.84171%207.45118%2010.1583%207.64645%2010.3536L11.1464%2013.8536C11.3417%2014.0488%2011.6583%2014.0488%2011.8536%2013.8536Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-color: var(--color-copper-hover);
    }

    &:active {
      background-color: var(--color-copper-pressed);
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    @extend .swiper-button-prev;
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22white%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20aria-label%3D%22Icon%22%20role%3D%22img%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.14645%2013.8536C7.95118%2013.6583%207.95118%2013.3417%208.14645%2013.1464L11.2929%2010L8.14645%206.85355C7.95118%206.65829%207.95118%206.34171%208.14645%206.14645C8.34171%205.95118%208.65829%205.95118%208.85355%206.14645L12.3536%209.64645C12.5488%209.84171%2012.5488%2010.1583%2012.3536%2010.3536L8.85355%2013.8536C8.65829%2014.0488%208.34171%2014.0488%208.14645%2013.8536Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  }
}

.swiper--pagination {
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
