{%- from "../Icon/Icon.njk"import IconEmbedded -%}

{% macro Chip(Label, Style, IconLeft = false, IconContentLeft, IconRight = false, IconContentRight, IconHeart = false, IconCheck = false)%}
    <div class="Chip Chip-{{ Style }}" tabindex="0" role="button" aria-label="{{ Label }}">
        {% if IconLeft %}
            <span class="Chip_Icon">{{ IconEmbedded([IconContentLeft])}}</span>
        {% endif %}

        <span class="Chip_Label">{{ Label }}</span>

        {% if IconRight %}
            {{ IconEmbedded([IconContentRight])}}
        {% endif %}

        {% if IconHeart %}
            <span class="Chip_Icon">{{ IconEmbedded('Heart', Size='small') }}</span>
            <span class="Chip_IconChecked">{{ IconEmbedded('Heart-filled', Size='small') }}</span>
        {% endif %}

        {% if IconCheck %}
            <span class="Chip_Icon">{{ IconEmbedded('Add', Size = 'small') }}</span>
            <span class="Chip_IconChecked">{{ IconEmbedded('Checkmark', Size = 'small') }}</span>
        {% endif %}
    </div>
{% endmacro %}