---
permalink: /playground/
---

{# Atoms  #}
{%- from "_includes/components/Atoms/Icon/Icon.njk" import IconEmbedded -%}
{%- from "_includes/components/Atoms/Button/Button.njk" import Button -%}
{%- from "_includes/components/Atoms/Link/Link.njk" import UtilityLink -%}
{%- from "_includes/components/Atoms/Link/Link.njk" import InlineLink -%}
{%- from "_includes/components/Atoms/Paragraph/Paragraph.njk" import Paragraph -%}
{%- from "_includes/components/Atoms/Heading/Heading.njk" import Heading -%}
{%- from "_includes/components/Atoms/Radio/Radio.njk" import Radio -%}
{%- from "_includes/components/Atoms/Checkbox/Checkbox.njk" import Checkbox -%}
{%- from "_includes/components/Atoms/Toggle/Toggle.njk" import Toggle -%}
{%- from "_includes/components/Atoms/Ranger/Ranger.njk" import Ranger -%}
{%- from "_includes/components/Atoms/Inputfield/Inputfield.njk" import Inputfield -%}
{%- from "_includes/components/Atoms/Textarea/Textarea.njk" import Textarea -%}
{%- from "_includes/components/Atoms/Dropdown/Dropdown.njk" import Dropdown -%}
{%- from "_includes/components/Atoms/Image/Image.njk" import Image -%}
{%- from "_includes/components/Atoms/Chip/Chip.njk" import Chip -%}
{%- from "_includes/components/Atoms/Divider/Divider.njk" import Divider -%}
{%- from "_includes/components/Atoms/Logo/Logo.njk" import Logo -%}
{%- from "_includes/components/Atoms/Validation/Validation.njk" import Validation -%}
{%- from "_includes/components/Atoms/Searchbar/Searchbar.njk" import Searchbar -%}

{# Molecules  #}
{%- from "_includes/components/Molecules/IconGroup/IconGroup.njk" import IconGroup -%}
{%- from "_includes/components/Molecules/ButtonGroup/ButtonGroup.njk" import ButtonGroup -%}
{%- from "_includes/components/Molecules/Rating/Rating.njk" import UneditableRating, EditableRating -%}
{%- from "_includes/components/Molecules/TextIcon/TextIcon.njk" import TextIcon -%}
{%- from "_includes/components/Molecules/MenuItem/MenuItem.njk" import MenuItem -%}
{%- from "_includes/components/Molecules/DownloadField/DownloadField.njk" import Downloadfield -%}
{%- from "_includes/components/Molecules/ContactBlock/ContactBlock.njk" import ContactBlock%}
{%- from "_includes/components/Molecules/StaticBanner/StaticBanner.njk" import StaticBanner -%}
{%- from "_includes/components/Molecules/Breadcrumb/Breadcrumb.njk" import Breadcrumb -%}
{%- from "_includes/components/Molecules/ProductTile/ProductTile.njk" import ProductTile -%}
{%- from "_includes/components/Molecules/Table/Table.njk" import Table, StaticTable -%}
{%- from "_includes/components/Molecules/List/List.njk" import List -%}

{# Organisms  #}
{%- from "_includes/components/Organisms/Slider/Slider.njk" import Slider -%}
{%- from "_includes/components/Organisms/Gallery/Gallery.njk" import Gallery -%}
{%- from "_includes/components/Organisms/Header/Header.njk" import Header, TopButton -%}
{%- from "_includes/components/Organisms/AppNav/AppNav.njk" import AppNav -%}
{%- from "_includes/components/Organisms/Footer/Footer.njk" import Footer -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Two Leaf - A modern web project">
    <title>Two Leaf</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="preload" href="/assets/fonts/montserrat_variable.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Swiper CSS aus dem Internet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>

  <body>
    {# {{ Header (Nav = true, Items = [ 
        { Label: 'Home', Target: '/' }, 
        { Label: 'Section', Target: '/section' }, 
        { Label: 'Current Page', Target: '#' }
         ] ) }} #}
    {{ Logo ("/", "small") }}
    {{ Logo ("/", "header") }}
    {{ Logo ("/", "large") }}
    {{ Ranger("preis", 100, 1, 200, "Preis", '€') }}
    {{ Ranger("time", 4, 1, 8, "Ziehzeit", 'min') }}
    {{ IconEmbedded ('Chevron-up', Size ='small') }}
    {{ IconEmbedded ('Chevron-up', 'black') }}

    {% set ContactBlockDetail %}
    {{ ContactBlock ()}}
    {% endset %}
    {{ Footer(Contents) }}
    {{ Breadcrumb( [ 
        { Label: 'Home', Target: '#' }, 
        { Label: 'Category', Target: '#' }, 
        { Label: 'Subcategory', Target: '#' }, 
        { Label: 'Current Page', Target: '#' },
        { Label: 'Current ', Target: '#' }
         ] ) }}
    {{ Validation('Info', 'This is a success message') }}
    {{ Validation('Success', 'This is a success message') }}
    {{ Validation('Error', 'This is a success message') }}
    {{ Validation('Warning', 'This is a success message') }}

    <form action="">
      {{ Inputfield('text', 'Name', LabelTop = true, 'Hello', IconRight = true, IconRightContent = 'Search', hasValidation = true, ValidationContent = { type: 'Warning', label: 'This is an info message' }) }}
      {{ Inputfield('text', 'Name', LabelTop = false, 'Hello', IconRight = true, IconRightContent = 'Search', hasValidation = true, ValidationContent = { type: 'Error', label: 'Fehlerhafte Eingabe' }) }}
      {{ Searchbar('Search...', LabelTop = true, 'Search for items') }}
    </form>
    <br>
    {{ Textarea('textarea01', 'description', 'Enter your description here...', LabelTop = true, 'Description') }}
    <br>
    <br>
    {{ Dropdown ('dropdown01', 'options',{ DropdownItems: [
        { value: 'option1', label: 'Option 1' },
        { value: 'option2', label: 'Option 2' },
        { value: 'option3', label: 'Option 3' },
        { value: 'option4', label: 'Option 4' },
        { value: 'option5', label: 'Option 5' },
        { value: 'option6', label: 'Option 6' }
    ]}) }}
    <br>
    <div class="testdiv">
      {{ Chip('Label', 'secondary', IconLeft = false, IconRight = false, IconHeart = true, IconCheck = false) }}
      {{ Button('Click Me', 'regular', 'primary')}}
      {{ UneditableRating("Sample Label", FilledStars = 3) }}
      {{ IconGroup(['Home-filled', 'Cart', 'Chevron-up', 'Error', 'Error', 'Error', 'Error','Error', 'Error', 'Error', 'Error','Error' , 'Error' , 'Error' , 'Error' , 'Error' , 'Error' , 'Error']) }}
      {{ IconGroup(['Home-filled', 'Cart', 'Chevron-up', 'Error']) }}
      {% call ButtonGroup() %}
      {{ Button('Button', 'small', 'primary', showIconRight=true, IconContentRight='Chevron-right', showIconLeft=true, IconContentLeft='Home')}}
      {{ Button('Hallo', 'regular', 'primary', showIconRight=true, IconContentRight='Chevron-right')}}
      {{ Button('Hallo', 'large', 'secondary', showIconLeft=true, IconContentLeft='Home', showIconRight=true, IconContentRight='Chevron-right')}}
      {% endcall %}
      {{ Button()}}
      {{ UtilityLink() }}
      {{ InlineLink () }}

      {{ EditableRating("Sample Label", TotalStars = 5) }}
      {{ MenuItem( { Settings: [
      { Text: 'Dashboard', Icon: 'Home', Size: '-sizeS', Weight: 'medium' },
      { Text: 'Profile', Icon: 'Profile', Size: '-sizeS', Weight: 'medium' },
      { Text: 'Settings', Icon: 'Settings', Size: '-sizeS', Weight: 'medium' },
      { Text: 'Messages', Icon: 'Chat', Size: '-sizeS', Weight: 'medium' },
      { Text: 'Notifications', Icon: 'Bell', Size: '-sizeS', Weight: 'medium' }
      ]}) }}
      <br>
      <br>
      {{ Downloadfield('Download Item', 'PDF, 4.5MB') }}

      {{ List ('ul', Items = [
        'Item 1',
        'Item 2',
        'Item 3',
        'Item 4',
        'Item 5'
      ]) }}
      {{ List ('ol', Items = [
        'Item',
        'Item',
        'Item',
        'Item',
        'Item'
      ]) }}
      {{ List ('ul', CheckList = true, Items = [
        'Item',
        'Item',
        'Item',
        'Item',
        'Item'
      ]) }}
      {{ List ('ul', CheckboxList = true, Items = [
        'Item',
        'Item',
        'Item',
        'Item',
        'Item'
      ]) }}
      {{ Divider('secondary') }}
      {{ ProductTile()}}
    </div>
    {{ Table(HeadRows =[  { Cells: ['Head1', 'Head2', 'Head3', 'Head4'] }
      ], BodyRows = [ 
        { Cells: ['Row1Cell1', 'Row1Cell2', 'Row1Cell3', 'Row1Cell3']}, 
        { Cells: ['Row2Cell1', 'Row2Cell2', 'Row2Cell3', 'Row1Cell3']},
        { Cells: ['Row2Cell1', 'Row2Cell2', 'Row2Cell3', 'Row1Cell3']},
        { Cells: ['Row2Cell1', 'Row2Cell2', {Type:'Link', Label: 'Inline Link', Style: 'secondary', Target: '#' }, 'Row1Cell3']},
        { Cells: ['Row3Cell1', 'Row3Cell2', 'Row3Cell3', 'Row1Cell3']},
        { Cells: ['Link', {Type:'Link', Label: 'Inline Link', Style: 'secondary', Target: '#' }, 'Row3Cell3', 'Row1Cell3']}
      ]) }}
    {{ StaticTable( TableRows = [
    {Head: 'Head1', Paragraph: 'Paragraph1jabgbabgalgbaiugang <br> luaguagaugiagaag <br> fafafa'}, 
    {Head: 'Head2', Paragraph: 'Paragraph2'},
    {Head: 'Head2', Paragraph: 'Paragraph2'},
    {Head: 'Head2', Paragraph: 'Paragraph2'},
    {Head: 'Head2', Paragraph: 'Paragraph2'}
    ]) }}
    <div class="testdiv3">
      {{ Image ('/assets/img/GalleryImage.png', 'Sample Image', 'GalleryImage-horizontal', 'cover', figcaption=true, label='Label', loadinglazy=true) }}
    </div>

    <div>
      {{ Gallery(Images = {
        Image1: { src: '/assets/img/SliderImage3.jpg', alt: 'Alt text 1', label: 'Label1'},
        Image2: { src: '/assets/img/GalleryImage2.png', alt: 'Alt text 2', label: 'Label2'},
        Image3: { src: '/assets/img/ProductImage1.jpg', alt: 'Alt text 3', label: 'Label3'},
        Image4: { src: '/assets/img/SliderImage.jpg', alt: 'Alt text 4', label: 'Label4'},
        Image5: { src: '/assets/img/GalleryImage.png', alt: 'Alt text 5', label: 'Label5'}
      
      }, HeadingContent = "TWO LEAF<br>ART GALLERY", ParagraphContent = "JOURNY OF DISCOVERY") }}
    </div>
    <p class="light">Probe Text</p>
    <p class="medium">Probe Text 2</p>
    {{ UtilityLink ('Learn More', 'primary', '-sizeXS', 'light') }}
    {{ UtilityLink ('Learn More', 'secondary', '-sizeS', 'regular', showIconRight = true, IconContentRight ='Chevron-right') }}
    {{ UtilityLink ('Learn More', 'primary', '-sizeS', 'medium', showIconRight =true, IconContentRight = 'Home') }}

    <p class="regular">Testen wir den {{ InlineLink ('Ich bin ein Inline Link', 'secondary', '-sizeS', 'regular') }} dadadaa</p>

    {{ Paragraph ('-sizeS', 'regular', 'Dies ist ein Paragraph mit der Größe S und Gewicht regular. Dies ist ein Paragraph mit der Größe S und Gewicht regular. Dies ist ein Paragraph mit der Größe S und Gewicht regular. Dies ist ein Paragraph mit der Größe S und Gewicht regular. Dies ist ein Paragraph mit der Größe S und Gewicht regular.') }}

    {{ Radio ('radio01', 'Test', 'radio01', 'Option 1') }}
    {{ Radio ('radio02', 'Test', 'radio02', 'Option 2') }}
    {{ Checkbox ('checkbox01', 'Test', 'checkbox01', 'Checkbox 1' ) }}

    <br>

    {{ Toggle ('checkbox02', 'Test', 'checkbox02', 'Checkbox 2' ) }}
    {{ ContactBlock() }}
    {{ Heading ('h1', '-sizeXL', 'bold', 'black', 'Im a Heading') }}
    {{ Heading ('h2', '-sizeL', 'medium', 'black', 'Im a Heading') }}
    {{ Heading ('h3', '-sizeM', 'regular', 'black', 'Im a Heading') }}
    {{ Heading ('h4', '-sizeS', 'light', 'black', 'Im a Heading') }}
    {{ Heading ('h5', '-sizeXS', 'regular', 'black', 'Im a Heading') }}

    {{ Heading ('h6', '-sizeXL', 'bold', 'black', 'Im a Heading') }}
    {{ Heading ('h1', '-sizeL', 'medium', 'white', 'Im a Heading') }}

    {{ IconEmbedded ('Home-filled') }}
    {{ IconEmbedded ('Cart', 'white') }}
    {{ IconEmbedded ('Chevron-up') }}

    {{ Button('Click', 'small', 'primary', 'outline') }}
    {{ Button('Cancel', 'small', 'tertiary') }}
    {{ Button('Submit', 'regular', 'secondary', showIconLeft = true, IconContentLeft = 'Chevron-left', showIconRight = true, IconContentRight = 'Home-filled') }}
    {{ Button('Cancel', 'large', 'tertiary') }}
    {{ Button ('', 'regular', 'primary', showIconLeft = true, IconContentLeft = 'Home')}}
    <br>
    {% set Slide1 %}
    {{ StaticBanner ( BannerImage = '/assets/img/SliderImage3.jpg', Position = 'center', HeadingContent = 'EXCLUSIVE OFFERS <br> JUST FOR YOU', ParagraphContent = 'Sign up for our newsletter and get exclusive discounts and updates.') }}
    {% endset %}
    {% set Slide2 %}
    {{ ProductTile (
        TileButton = { Label: 'SHOP NOW', Size: 'regular', Style: 'primary' },
        TileLinkOn = true,
        TileLink = { Label: 'View Details', Style: 'secondary', Size: '-sizeS', Weight: 'bold', showIconRight: true, IconContentRight: 'Chevron-right', Target: '#' },
        TileImageOn = true,
        TileImage = { src: '/assets/img/ProductImage1.jpg', alt: 'Product Image', fit: 'cover', loadinglazy: true },
        HeadingContent = 'Stylish Modern Chair',
        ParagraphContent = 'Experience comfort and style with our modern chair, perfect for any living space.'
    ) }}
    {% endset %}
    <div class="testdiv2">
      {{ Slider(SliderType = "HeroSlider", HeroSlides = [Slide1, Slide1]) }}
    </div>
    <div class="testdiv3">
      {{ StaticBanner ( BannerImage = '/assets/img/SliderImage.jpg', Position = 'center', HeadingContent = 'DISCOVER OUR NEW COLLECTION', ParagraphContent = 'Explore the latest trends and styles in our new collection. Shop now and elevate your wardrobe.') }}
    </div>
    <br>
    <br>
    <br>
    {# {{ AppNav() }} #}
    {# Scripts #}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="/_includes/components/Atoms/Ranger/Ranger.js"></script>
    <script src="/_includes/components/Atoms/Inputfield/Inputfield.js"></script>
    <script src="/_includes/components/Atoms/Searchbar/Searchbar.js"></script>
    <script src="/_includes/components/Atoms/Textarea/Textarea.js"></script>
    <script src="/_includes/components/Atoms/Dropdown/Dropdown.js"></script>
    <script src="/_includes/components/Atoms/Chip/Chip.js"></script>
    <script src="/_includes/components/Organisms/Slider/Slider.js"></script>
    <script src="/_includes/components/Organisms/AppNav/AppNav.js"></script>
  </body>
</html>