---
layout: Layouts/responsive.njk
title: Two Leaf 
permalink: /profile/
showBreadcrumbs: true
breadcrumbs:
    - Label: Profil
      Target: /profile/
---

{%- from '_includes/components/Atoms/Button/Button.njk' import Button %}
{%- from '_includes/components/Atoms/Paragraph/Paragraph.njk' import Paragraph %}

<div class="buttons">
  {{ Button (fullWidth = true, Label = 'Einloggen') }}
  {{ Button (fullWidth = false, IconOnly = true, showIconLeft = true, IconContentLeft = 'Profile', Outline = true) }}
  {{ Button ( Label = ' Was andres', Outline = true, Style = 'primary', Outline = true) }}
  {{ Button ( Label = ' Was andres', Outline = true, Style = 'primary', Outline = true, Size = 'small') }}
  {{ Button ( Label = ' Was andres', Outline = true, Style = 'primary', Outline = true, Size = 'large') }}
</div>